@import url(./main.css);

.logo{
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}

body{
    background: url(../images/hero-bg.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Purple-100-opacity);
    width: 360px;
    height: 500px;
    border-radius: 3px 40px;
    border: 2px solid var(--Purple-100);
    color: var(--Purple-900);
    overflow: hidden;
    box-shadow: 0px 0px 45px 0px var(--Purple-100-opacity);
}

form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button{
    padding: 15px;
    background: var(--Purple-900);
    color: var(--White);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px 0;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    box-shadow: ;
}

input{
    border: none;
    background: transparent;
    border-bottom: 2px solid var(--Purple-900);
    outline: none;
    padding: 5px;
}

label{
    align-self: flex-start;
    color: var(--Purple-900-opacity);
}

a{
    font-weight: 700;
    color: var(--Purple-900);
}