@import url('./main.css');
@import url('./articles.css');
@import url('./gallery.css');
@import url('./solar-system.css');

.header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    background: linear-gradient(var(--Purple-900) 0%, transparent 100%);
}


.navbar>ul>.social-links {
    display: none;
}

.navbar>ul>.social-links>a>i {
    font-size: 20px;
}

#mobile {
    display: none;
    color: var(--White);
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    height: 30px;
}

.navbar>ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.nav-link {
    color: var(--White);
    text-decoration: none;
}


#hero {
    text-align: center;
    max-height: 100vh;
    background: linear-gradient(to bottom, transparent, var(--Purple-900-opacity)), no-repeat url('../images/hero-bg.png');
    background-size: cover;
}

.big-title {
    position: relative;
    top: 100px;
    font-size: 80px;
    margin: 0 60px;
    color: var(--White);
    animation: changeLetterSpacing 10s ease-in-out infinite;
    z-index: -1;
}

.big-planet {
    position: relative;
    width: 80%;
    z-index: -1;
    margin-top: 55px;
}


.more {
    width: 50%;
    background-color: var(--Purple-500-opacity);
    padding: 10px 30px;
    border: 2px solid var(--Purple-100);
    border-radius: 5px 10px;
    color: var(--Purple-100);
    transition: box-shadow ease-in-out .2s;
}

.more:hover {
    background-color: var(--Purple-100-opacity);
    cursor: pointer;
    color: var(--Purple-900);
    box-shadow: 0 0 25px 0 var(--Purple-100-opacity);
}

.footer {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    background-color: var(--Purple-900);
    color: var(--White);
}

.social-links {
    width: 100%;
    text-align: center;
}

.social-links>a {
    text-decoration: none;
}

.social-links>a>i {
    font-size: 35px;
    color: var(--White);
    text-decoration: none;
    padding: 0 10px;
    transition: transform ease-in-out .3s;
}

.social-links>a:hover>i {
    color: var(--Purple-100);
    transform: scale(1.2);
}

@keyframes changeLetterSpacing {
    0% {
        letter-spacing: 5px;
    }

    50% {
        letter-spacing: 20px;
    }

    100% {
        letter-spacing: 5px;
    }
}

.search-area {
    display: flex;
    gap: 20px;
}

.search-area>input,
.search-area>button {
    font-size: 20px;
}

.search-area>input {
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--White);
}

.search-area>input::placeholder {
    color: var(--Purple-100-opacity)
}

.search-area>button {
    padding: 5px 30px;
    border-radius: 30px;
    border: none;
    background-color: var(--Purple-100);
    color: var(--Purple-900);
    cursor: pointer;
}

.search-area>button:hover {
    background-color: var(--Purple-100-opacity);
    color: var(--White);
}

@media (max-width: 990px) {
    .big-title {
        animation: none;
    }
}

@media (max-width: 750px) {

    .search-area>input,
    .search-area>button {
        font-size: 15px;
    }

    .big-title {
        line-height: 60px;
        font-size: 50px;
        letter-spacing: 10px;
    }

    .big-planet {
        margin-top: 80px;
    }

    .navbar>ul {
        position: absolute;
        flex-direction: column;
        top: 0;
        right: -50%;
        transform: translateX(0);
        text-align: right;
        background-color: var(--Purple-900);
        width: 50%;
        height: 100vh;
        padding-top: 90px;
        padding-right: 50px;
        align-items: flex-end;
        transition: transform ease-in-out .4s;
    }

    #mobile {
        z-index: 10;
        display: inherit;
    }

    .navbar>ul>.social-links {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
    }
}

@media(max-width: 500px) {
    .big-title {
        font-size: 40px;
    }

}