@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --White: #fff;
    --Purple-900: #1C0635;
    --Purple-900-opacity: rgba(28, 6, 53, 0.5);
    --Purple-100: #9E85EA;
    --Purple-100-opacity: rgba(158, 133, 234, 0.7);
    --Purple-500: #53418B;
    --Purple-500-opacity: rgb(83, 65, 139, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

html{
    background-color: var(--Purple-900);
}

body{
    background: no-repeat url('../images/hero-bg.png');
    background-size: cover;
    font-size: 16px;
}